body{
  font-family: 'Helvetica', sans-serif;
  margin: 20px;
  padding: 50px;
  font-size: 20pt;
  background-color: #FAF0E6;
  color: #2E343B;
}

h1{
  font-family: "Georgia";
  font-size: 2em;
  text-align: center;
  line-height: 2;
  margin-top: 40px;
}

p {
  padding: 10px 30px 20px 30px;
  font-size: 12pt;
}

header{
  background: #FAF0E6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type:none;
  color: #425E89;
}

.nav_links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_item {
  padding-bottom: 5px;
}

.nav_item a{
  padding: 10px;
  color: #A73030;
}

.nav_item a:hover {
  color: #FFD44E;
}

.item-1 {
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
}

.item-2 {
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
}

.item-3 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.themereveal {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.item-1, .item-2, .item-3, .themereveal {
  padding: 30px;
  margin: 10px;
  max-width: 100%;
  height: auto;
  justify-self: center;
}

.works{
  display: grid;
  align-content: center;
  grid-template-columns: 90px auto 90px;
  grid-template-rows: auto auto auto auto;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-row-gap: 100px;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

footer{
  width:100%;
  min-height: 50px;
  background:#FAF0E6;
  text-align: center;
  color: #2E343B;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*
@media screen and (min-width: 850px){

 header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 
 }
 
 .nav_links{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
 }
 
 .nav_item a{
   padding: 10px;
 }
 
 .logo {
 
 }
 
 } 
 */
 